.list-items {
    margin:5rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.add {
    position: absolute;
    top:20px;
}
.add_btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: #0d6efd;
    color:white;
    font-weight: bold;
    font-size: 2.0rem;
    transition: all 0.25s ease-in;
}
.add_btn:hover{
    border:1px solid #0d6efd;
    background-color: #3c7cdc;
    transform: scale(1.2);
}
.add_btn:focus {
    border: 2px solid black;
}

.add_symbol_box {
    height:120px;
    width:360px;
    border-radius: 2px;
    border:1px dashed black;
    box-shadow: 1px 1px 2px 2px #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap:4px;
    position: relative;
}
.add_symbol_box input {
    width:50%;
    text-align: center;
    font-size: 0.8rem;
    color:blueviolet;
    font-weight: bold;
    border:1px solid blueviolet;
    outline: none;
    padding: 4px;
    border-radius: 4px;
}

.add_symbol_box button {
    cursor: pointer;
    padding: 12px;
    min-width: 100px;
    background: #3498db;
    color: #ffffff;
    outline:none;
    border:none;
    border-radius: 8px;
    transition: background-color 100ms linear;
}
.add_symbol_box button:focus {
    outline: 0;
  }
.add_symbol_box button:hover {
background: #2980b9;
color: #ffffff;
}

.add_symbol_box_remove {
    position: absolute;
    right: 2%;
    top:2%;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f3f3f3;
    color:blueviolet;
    font-weight: bold;

}

.add_symbol_box_remove:hover {
    box-shadow: 1px 1px 2px 1px grey;
}